{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOTR AI</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs" defer></script>
    <!-- <script src="lor_model.js" defer></script> -->
    <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body>
    <h1 class="header-1">Lord of the Rings</h1>
    <h3 class="header-2">AI</h3>
    <div id="main-container">
        <div id="input-prompt-container">
            <span>
                <input type="text" id="input-prompt" placeholder="Enter seed text here.">
                <span ><i class="fas fa-play" id="gen-button"></i></span>
            </span>
        </div>
        
        <div id="output-text">
            
        </div>
    </div>
    
</body>
</html>